@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body{
    margin: 0;
    padding: 0.5rem;
    background-color: lightcyan;
    max-width: 720px;
    margin: auto;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: darkcyan;
}

.nav{
    background-color: black;
    width: 100%;
    height: 5vh;
    padding: 0.6rem;
}

.notes{
    font-size: 1.7rem;
    color: white;
    text-align: center;
}

.pbox{
    border: 1px white solid;
    padding: 0.7rem;
    /* width: 100%; */
}

.inp_ser{
    border: 1px black solid;
    padding: 0.2rem;
}

.cent_cont{
    margin: auto;
}

.intro{
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Yusei Magic', sans-serif;
}

.inptitle{
    height: 6vh;
    padding: 0.4rem;
}

.input{
    max-width: 720px;
    width: 90%;
    height: 20vh;
    border: 1px black solid;
    padding: 0.6rem;
}

.output_boxes{
    margin: 0.6rem;
    display: inline-block;
    /* width: 20vw; */
    padding: .1rem;
    border: 2px rgb(236, 92, 92) solid;
}


.flex_child{
    /* /* flex: 1; */
    padding: 0.6rem;
    padding-top: 0rem;
    border: 1px solid black; 
}

.addbtn{
    border: 1px black solid;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: wheat;
}

/* here on is not my code. it is for tooltip  */

.tooltip {
  position: relative;
  display: inline;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* until here is just for the tool tip  */

.addbtn:hover{
    background-color: lightcyan;
    color: black;
    transition-duration: 1s;
}

.dltbtn{
    padding: 0.4rem;
    font-size: 0.7rem;
    border: 1px black solid;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: wheat;
    font-weight: 600;

}

.dltbtn:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    border: 1px white solid;
}

.notessub{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    padding: 0.4rem;
    padding-right: 0.3rem;
} 