@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body{
    margin: 0;
    padding: 0.3rem;
    background-color: lightcyan;
}
.nav{
    background-color: black;
    width: 98.5%;
    height: 5vh;
    padding: 0.6rem;
}

.notes{
    font-size: 1.7rem;
    color: white;
}

.ser{
    float:right;
    /* display: grid;
    align-items:center; */
    padding: 0.2rem;
    margin: 0.4rem;
    /* width: 10%; */
}

.inp_ser{
    border: 1px black solid;
    padding: 0.2rem;
}

.cent_cont{
    max-width: 90%;
    margin: auto;
}

.intro{
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Yusei Magic', sans-serif;
}

.input{
    width: 50%;
    height: 40vh;
    border: 1px black solid;
    padding: 0.6rem;
}

.output_boxes{
    margin: 0.6rem;
    display: inline-block;
    /* width: 20vw; */
    padding: .1rem;
}

.flex_child{
    /* /* flex: 1; */
    padding: 0.6rem;
    padding-top: 0rem;
    border: 1px solid black; 
}

.addbtn{
    border: 1px black solid;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dltbtn{
    padding: 0.4rem;
    font-size: 0.7rem;
    border: 1px black solid;
    border-radius: 0.5rem;
    cursor: pointer;
}

#notes{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notessub{
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    padding: 0.4rem;
}